{{ define "main" }}

<div class= "project-container" >
    <section class= "project-list" >
        <h2>Biology Topics3</h2>
            <ul>
            {{ range (where .Site.RegularPages "Type" "in" "Biology") }}
                <li><a href= "{{ .RelPermalink }}" >{{ .Title }}</a></li>
            {{ end }}
            </ul>

    </section>
    <section class= "project" >
        <h2 class="topic-header">{{ .Title }}</h2>
        {{ .Content }}
    </section>
</div>

{{ end }}
